<ul class="todos">
  <li>
    <div>
      <a href="#" class="remove-item"><i class="fa fa-check"></i></a>
    </div>
    <a class="done">
      Ir ao supermercado <br>
      <small>14/02/2020</small>
    </a>
  </li>
  <li>
    <div>
      <a href="#" class="remove-item"><i class="fa fa-check"></i></a>
    </div>
    <a href="#">
      Ir ao supermercado <br>
      <small>14/02/2020</small>
    </a>
  </li>
  <li>
    <div>
      <a href="#" class="remove-item"><i class="fa fa-check"></i></a>
    </div>
    <a href="#">
      Ir ao supermercado <br>
      <small>14/02/2020</small>
    </a>
  </li>
</ul>
