body{
    margin: 0px;
    padding: 0px;
    background-color: #fafafa;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

